.base {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
}

.base h1 {
  font-size: 2rem;
}

@media (--viewport-medium) {
  .base {
    padding: 0;
  }
}
