.base {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  border: 1px solid var(--nord1);
  @media (--viewport-medium) {
    min-height: 100px;
  }
}
.restDay {
  display: none;
  /* border: 1px solid var(--nord0); */
  @media (--viewport-medium) {
    display: block;
  }
}

.month {
  position: absolute;
  font-size: 3rem;
  line-height: 0.875;
  color: var(--nord1);
  top: 0;
  left: 0.25rem;
}

.day {
  position: absolute;
  line-height: 1;
  top: 0.25rem;
  right: 0.25rem;
  color: var(--nord8);
}

.button {
  font-size: 0.875rem;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}
