.header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.heading,
.completed {
  font-family: var(	--b-font-mono);
  font-size: 1.1rem;
}

.workoutHeading {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.emptyState {
  margin: 3rem 0;
  color: var(--nord13);
  text-align: center;
}

.emptyStateHeading {
  margin-bottom: 1rem;
  font-size: 3rem;
}
.header,
.movementTable {
  padding: 0 1.5rem;
  @media (--viewport-medium) {
    padding: 0;
  }
}

.table {
  font-family: var(	--b-font-mono);
  margin-bottom: 2rem;
  & th {
    text-align: center;
    color: var(--nord8);
  }
  & td {
    text-align: center;
  }
  & th:last-child,
  & td:last-child {
    text-align: right;
  }
}

.button {
  display: block;
}

.completed {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  gap: 0.5rem;
  color: var(--nord8);
  & .check {
    color: var(--nord14);
    font-size: 2rem;
  }
}
